div {
      background-color:white;
      width: 1500px;
      border: 1px solid black;
      padding: 5px;
      margin: 3px;
      background-color: #fbffe5;
      
    }
    h1{text-decoration: dotted;
        color:blue;
        
    }
    p{
        color:rgb(255, 0, 208);
    }
    #last{
        color:red;
        text-align: left;
        
    }
    #ul{
color:brown
    }
    #ol{
color:brown
    }
h4,h5{
    color:rgb(0, 255, 8)
}
#one{
    background-color: yellow;
}

    pink{
        background-color: rgb(255, 192, 248);
    }
#O{
    text-align: left;
}
#table{
  background-color: rgb(196, 255, 175);
}
  